*{
    margin: 0;
    padding: 0;
}

body {
    
}

.nav {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}

.nav a {
    text-decoration: none;
    padding: 8px 10px;
    margin: 5px 8px;
    color: white;
    float: left;
}

.nav a:hover {
    background-color: yellowgreen;
    border-radius: 5px;
}

.nav .logo {
    width: 40px;
    height: 40px;
    margin: 5px 20px;
    border-radius: 50%;
    float: right;
}

.header {
    width: 100%;
    height: 600px;
    /* background-color: greenyellow; */
    background-image: url(/img/bitcoin.jpeg);
    background-position: top;
    background-size: cover;
    /* position: relative; */

}

.header h1 {
    text-align: center;
    position: absolute;
    color: rgb(103, 88, 247);
    font-size: 60px;
    top: 55%;
    left: 38%;
}

.header button {
    padding: 20px 30px;
    position: absolute;
    font-size: 18px;
    top: 80%;
    left: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    border:2px solid rgb(17, 0, 255);

}
.gallery {
    width: 100%;
    height: 400px;
}

.section {
    width: 100%;
    height: 600px;
    background: yellow;


}

.footer {
    width: 100%;
    height: 250px;
    background: orange;
}